{% extends 'base.htm' %}

{% block content %}

	<h1>Reader Libraries: Libraries, Librarians, and Digital Librarianship</h1>
	
	<p>This is an index of 3,000 scholarly journal articles on the topic of digital libraries.</p>
	
	<p>Think of Reader Libraries as if it were a traditional back-of-the-book index but made better with a set of super powers. Through the use of this index your understanding of libraries, librarians, and digital librarianship will be enhanced. </p>
	
	<p>
Reader Libraries was written by me, Eric Lease Morgan &lt;<a href="mailto:eric_morgan@infomotions.com">eric_morgan@infomotions.com</a>&gt;. As a librarian I have always been fascinated with the collection, organization, preservation, and dissemination of data, information, and knowledge. Reader Libraries is simply another application in that vein. For more detail about Reader Libraries, see the <a href="https://distantreader.org/blog/reader-libraries/">blog posting</a>.</code>
</p>

	
{% endblock %}

